<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46517895022-t98647s81qdoo5omeglm1tencankpl9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46517895022-t98647s81qdoo5omeglm1tencankpl9h</string>
	<key>API_KEY</key>
	<string>AIzaSyB8_bOgJl1M2OBLSJrCCmEwy64E-9ZBqEc</string>
	<key>GCM_SENDER_ID</key>
	<string>46517895022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cryptochain.mota.ios</string>
	<key>PROJECT_ID</key>
	<string>mota-production</string>
	<key>STORAGE_BUCKET</key>
	<string>mota-production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46517895022:ios:ef9ed18ba1df9aaafa4b7f</string>
</dict>
</plist>